html {
    scroll-behavior: smooth;
}

.spinner-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #111C3D;
}

.spinner {
    position: absolute;
    top: 50%;
    /* centers the loading animation vertically one the screen */
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    width: 3.75rem;
    height: 1.25rem;
    margin: -0.625rem 0 0 -1.875rem;
    /* is width and height divided by two */
    text-align: center;
}

.spinner>div {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #fff;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.black {
    /* background: rgb(17, 28, 61);
    background: linear-gradient(162deg, rgba(17, 28, 61, 1) 0%, rgba(42, 71, 152, 1) 55%, rgba(0, 143, 170, 1) 100%); */
    background-color: white;
    transition: .5s;
}


/*colors*/

.colors--1 {
    color: #111C3D;
}

.colors--2 {
    color: #fff;
}

.bg_colors--1 {
    background-color: #111C3D;
}

.bg_colors--2 {
    background-color: #00a86b;
}


/*colors*/


/*section padding*/

.sec-padding {
    padding: 3% 0;
}


/*section padding*/


/*header start*/

header {}

header a .sizeOfImages {
    width: 16%;
}

header .navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 500;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #2A4798;
    transition: 0.4s ease-out;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #2A4798!important;
}


/*header end*/


/*banner start*/

.banner {
    background-image: url(images/banar2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10% 0 3%;
}

.banner .banner-first {
    /*padding-top: 8%;*/
}

.banner .banner-text {
    margin-top: 2%;
}

.banner .banner-text p:first-child,
.common_p {
    font-size: 30px;
    font-weight: bold;
}

.banner .banner-text p:nth-child(2) {
    font-size: 24px;
    font-weight: 600;
}

.banner .banner-text p:last-child {
    font-size: 30px;
    font-weight: 600;
}

.banner .banner-text p span {}

.banner .banner-bottom {
    margin-top: 3%;
}

.banner .banner-bottom .button-info {
    margin-top: 5px;
}

.banner .banner-bottom p {}

.banner .banner-bottom button {
    width: 100%;
    border-radius: 40px;
    margin-top: 4%;
}

.banner .banner-bottom button i {
    font-size: 25px;
}

.banner .banner-bottom button span {
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    transition: 0.5s;
}

.banner .banner-bottom button:hover {
    background-color: white;
    color: #111C3D;
    border: 1px solid #111C3D;
    transition: .5s;
}

.banner .banner-bottom button:hover span {
    color: #008FAA!important;
}

.banner .banner-bottom button:hover .btn-p {
    color: #008FAA;
}

.banner .banner-bottom button:hover i {
    color: #008FAA!important;
}

.banner .banner-bottom button p {}


/*    Video     */

.basic-1 {
    /* padding-top: 6.375rem;
	padding-bottom: 6.875rem;
	background: url('../images/video-background.jpg') center center no-repeat;
	background-size: cover; */
}

.basic-1 h2 {
    margin-bottom: 1.125rem;
    text-align: center;
}

.basic-1 .p-heading {
    margin-bottom: 4rem;
    text-align: center;
}

.basic-1 .image-container img {
    border-radius: 0.375rem;
}

.basic-1 .video-wrapper {
    position: relative;
}


/* Video Play Button */

.basic-1 .video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    display: block;
    box-sizing: content-box;
    width: 2rem;
    height: 2.75rem;
    padding: 1.125rem 1.25rem 1.125rem 1.75rem;
    border-radius: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.basic-1 .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    display: block;
    width: 4.75rem;
    height: 4.75rem;
    border-radius: 50%;
    background: #111C3D;
    animation: pulse-border 1500ms ease-out infinite;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.basic-1 .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    background: #111C3D;
    transition: all 200ms;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.basic-1 .video-play-button span {
    position: relative;
    display: block;
    z-index: 3;
    top: 0.375rem;
    left: 0.25rem;
    width: 0;
    height: 0;
    border-left: 1.625rem solid #fff;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}


/* end of video play button */


/*banner end*/


/*overview start*/

.overview {
    background-color: #008FAA;
}

.overview .overview-left {}

.overview .overview-left p:first-child {
    font-size: 30px;
    font-weight: 900;
}

.overview .overview-right {}

.overview .overview-right h3 {
    font-size: 30px;
    font-weight: bold;
}

.overview .overview-right h4 {
    font-size: 25px;
    font-weight: 600;
}

.overview .overview-right p {}


/*overview end*/


/*counter start*/

.counter_part {
    background-color: #111C3D;
    background-position: center;
    padding: 8% 0;
    background-size: cover;
}

.counter_part .img_bg_cus h1 {
    margin-bottom: 3%;
}

.counter_part .img_bg_cus .content_num {
    position: relative;
}

.counter_part .img_bg_cus .content_num .font_1 {
    text-align: left;
    border-bottom: 1px solid gray;
}

.counter_part .img_bg_cus .content_num .font_2 {
    text-align: left;
}

.counter_part .img_bg_cus .content_num h2 {
    font-size: 55px;
    font-weight: 700;
    color: rgb(126, 125, 125);
    text-align: center;
}

.counter_part .img_bg_cus .content_num h4 {
    font-weight: 600;
    color: #fff!important;
    text-align: center;
}


/*counter end*/


/*Course shedule*/

.crs_shedule {
    background-color: #008FAA;
}

.crs_shedule .crs-list {
    margin-top: 4%;
}

.crs_shedule .crs-list img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.crs_shedule .crs-list a {
    text-decoration: none;
    color: #111C3D;
    font-size: 22px;
    font-weight: 500!important;
}

.crs_shedule .crs-list p {
    font-size: 19px;
    font-weight: bold;
}

.crs_shedule .crs-list p a:hover {
    color: #00d69b;
}


/*Course shedule*/


/*faq start*/

.faq {
    background-color: #111C3D;
}

.faq .sec_header {}

.faq .sec_header h1 {}

.faq .sec_header p b a {
    color: #008FAA;
}

.faq .accordion button {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s;
}

.faq .accordion button:focus {
    box-shadow: none!important;
    border: none!important;
}

.faq .accordion button:hover {
    color: #008FAA;
}

.faq .accordion .card {
    border: none;
    border-radius: none;
}

.faq .accordion .btn {
    border: none!important;
}

.faq .accordion .card-header {
    background-color: #111C3D!important;
    border: none!important;
}


/*faq end*/


/*team start*/

.team {
    background-color: #008FAA
}

.team h1 {
    margin-bottom: 2%;
}

.team .bio--1 {}

.team .bio--1 img {
    height: 230px;
    width: 230px;
    border-radius: 50%;
}

.team .bio--1 h4 {}

.team .bio--1 .I {}

.team .bio--1 i {
    font-size: 30px;
    border-radius: 50%;
    transition: 0.6s;
}

.team .bio--1 i:hover {
    color: #111C3D;
}

.team .team2 {}

.team .team2 .Team_box h4 {
    margin-top: 4%;
}

.team .team2 .Team_box img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
}

.team .margin-top {
    margin-top: 50px;
}

.team .team2 .prev i {
    position: absolute;
    font-size: 40px;
    color: #eae7ff;
    top: 80px;
    left: -20px;
}

.team .team2 .next i {
    position: absolute;
    font-size: 40px;
    color: #eae7ff;
    top: 81px;
    right: -20px;
}


/*team end*/


/*our clients sponser*/

.sponser-logo {
    background: #111C3D!important;
}

.our_clients img {
    color: white;
    opacity: 0.4!important;
}


/*sponser start*/

.sponser {
    /* background-color: #008FAA; */
    background-color: #111C3D!important;
}

.sponser img {
    margin-top: 6%;
}

.sponser .footer a:hover {
    /* color: #111C3D; */
    color: #008FAA;
    text-decoration: none;
}

.sponser form {
    margin-top: 15%;
}

.sponser form {}

.sponser form .form-btn {
    /* background-color: #111C3D!important; */
    background-color: #008FAA;
    color: #fff;
    font-weight: 600;
    padding: 1% 4%;
    transition: 0.6s;
}

.sponser form .form-btn:focus {
    outline: 0;
    box-shadow: none;
    border: none;
}

.sponser form .form-btn:hover {
    background-color: transparent;
    color: #008FAA;
    border: 1px solid white;
}


/*sponser end*/


/*back to top*/

.back-to-top {
    background: #fff;
    border-radius: 50%;
    bottom: 30px;
    color: #008FAA;
    cursor: pointer;
    display: none;
    font-size: 35px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    z-index: 1;
}

.back-to-top i {
    position: absolute;
    left: 14px;
    top: 7px;
}

.back-to-top:hover,
.back-to-top:focus {
    background: #202332;
    color: #fff;
}